# Use postgres/example user/password credentials
version: '3.1'

services:

  db:
    image: postgres
    restart: always
    env_file:
        - database.env # configure postgres
    volumes:
        - D:\db\postgres\amigoscode:/var/lib/postgresql/data # persist data even if container shuts down
    ports:
        - "5432:5432"

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080